<h1>Hello World From Mario</h1>
<h3>Map Instructions:</h3> 
<p> 
  After you teleport to the start point you
  <br>
  need to push the <b>"Tools"</b> button (each player separately).
  <br>
  After all the players were given the tools you<br>
need to push the "Start" button and start playing.<br> 
  After you die you need to push on the "Tools" button and<br> 
  continue until someone wins.
  
  <br>
  <h4>the Creators of the map are: Omri Bar and Yuval Bar.</h4>
  <h3>Laws:</h3>
  <ol>
    <li>you can and need kill players</li>
    <li>don't kill mobs</li>
    <li>play the map on gamemode 2 or gamemode 0.</li>
    <li>the maximum of players in the map is 7.</li>
    <li>use this map on versions 1.6 and up</li>
  </ol>
  <br>

<br>
<a href="/super_mario_race_minecraft.rar" class='download-btn'>download</a>
<br>
</p>
