<h1>Hello World From Mario</h1>
<p>
  Map Instructions: after you teleport to the start 
  point you need push the "Tools" button (each player Separately).
  After all the players were given the tools you
need push the "Start" button and start to playing. 
  after you die you need to click on the "Tools" button and 
  continue until someone wins.
  Laws:
1.you can+need kill players
2.don't kill mobs
3.play the map on gamemode 2 or gamemode 0.
4.the maximum of players in the map is 7.

  the Creators of the map are: Yuval Bar and Omri Bar
</p>
